SECRET_KEY=replace_me

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

# Database Credentials
DB_ENGINE=django.db.backends.mysql
DB_NAME=db_name_here
DB_USER=user_name_here
DB_PASSWORD=secret_password
DB_HOST=127.0.0.1
DB_PORT=3306