SECRET_KEY=replace_me

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

# Database Credentials
DB_ENGINE=django.db.backends.mysql
DB_NAME=db_name_here
DB_USER=user_name_here
DB_PASSWORD=secret_password
DB_HOST=127.0.0.1
DB_PORT=3306


EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

EMAIL_HOST=host_here
EMAIL_PORT=port_here

EMAIL_HOST_USER=user_email_here
EMAIL_HOST_PASSWORD=password_here

EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

DEFAULT_FROM_EMAIL=user_email_here
SERVER_EMAIL=
PLATFORM_LOGO_URL=

EMAIL_VERIFICATION_EXPIRY_HOURS=

FRONTEND_URL=http://localhost:5173

CORS_ALLOWED_ORIGINS=http://localhost:5173

SECURE_TOKEN_BYTES=32

PASSWORD_RESET_TOKEN_EXPIRY_MINUTES=15